name: Deploy via terraform

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download the code 
        uses: actions/checkout@v4

      - name: List all dirs recursively
        run: ls -Rla

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Test Terrafrom version
        run: terrafrom version